apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: fraud-detection-prod
  labels:
    app.kubernetes.io/part-of: fraud-detection-platform
type: Opaque
stringData:
  POSTGRES_USER: <your-postgres-username>
  POSTGRES_PASSWORD: <your-postgres-password>
  POSTGRES_DB: <your-database-name>
  JDBC_URL: "jdbc:postgresql://postgres-prod:5432/<your-database-name>"